{% extends 'base.html' %}

{% block title %}
    Complete
{% endblock title  %}

{% block content %}
<div class="max-w-lg p-10 mx-auto mt-12 shadow-xl py-10">
    <h1 class="text-center text-2xl font-semibold">Password has been completly reset.</h1>
    <div class="flex p-2 mt-7 border-2 border-gray-300 w-1/2 ml-24 justify-center rounded-xl bg-gray-200 hover:bg-gray-300">
        <a href="{% url 'login' %}" class="text-center hover:text-gray-600">Click here to login</a>
    </div>
</div>
{% endblock content %}
